﻿@model Viceri.Project.MVC.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewData["Title"]</h2>
<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.ProjectGitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectGitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsImported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsImported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open_Issues_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open_Issues_Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
