﻿@model Viceri.Project.MVC.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewData["Title"]</h2>
<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectGitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectGitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web_URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web_URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsImported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsImported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Open_Issues_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Open_Issues_Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
