﻿@model IEnumerable<Viceri.Project.MVC.ViewModels.ProjectViewModel>

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewData["Title"]</h2>
<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    <input type="button" id="btnImportProjects" value="Import Projects" class="btn btn-info" />
        
    <img src="~/Content/Images/loading.gif" id="imgLoading" style="display: none" />
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.ProjectGitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Web_URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsImported)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectGitId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Web_URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsImported)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        var urlImportProjects = '@Url.Action("ImportProjects", "Projects")';
        var urlIndex = '@Url.Action("Index", "Projects")';

        $(document).ready(function () {
            $("#btnImportProjects").click(importProjects);
        });

        function importProjects() {
            bootbox.confirm({
                title: "Import Projects",
                message: "Do you really want to import projects from GitLab?",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $("#btnImportProjects").prop('disabled', true);
                        $("#imgLoading").show();

                        $.ajax({
                            type: "GET",
                            url: urlImportProjects,
                            data: null,
                            success: function (x) {
                                $("#imgLoading").hide();
                                $("#btnImportProjects").prop('disabled', false);

                                bootbox.alert('Projects imported with success!', function () {
                                    window.location.replace(urlIndex);
                                });
                            },
                            fail: function (error) {
                                $("#imgLoading").hide();
                                $("#btnImportProjects").prop('disabled', false);

                                bootbox.alert('An error has ocourred: ' + error);
                            }
                        });
                    }
                }
            });
        }

    </script>
}