﻿@model Viceri.Project.MVC.ViewModels.IssueViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewData["Title"]</h2>
<h4 class="text-danger">@ViewData["ErrorMessage"]</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueGitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueGitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Closed_At)
        </dt>

        <dd>
            @if (Model.Closed_At > DateTime.MinValue)
            {
                @Html.DisplayFor(model => model.Closed_At)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>